@import './index.css';

.overlay {
  display: block;
  height: 200px;
  background: grey;
  position: relative;
}

.loading__overlay {
  opacity: 0.8;
}

.loading__text {
  position: absolute;
  color: black;
  position: absolute;
  top: 50%;
  width: 100%;
  margin: auto;
}

.loading__text-inner {
  background: white;
  text-align: center;
  font-size: 0.8em;
  width: 200px;
  margin: auto;
}
