@import "@economist/component-typography";

:root {
  --loading-default-thickness: 0.6em;
  --loading-default-diameter: 2.5em;
  --loading-default-speed: 1.1s;
}

.loading {
  font-size: 1rem;
  font-family: var(--fontfamily-serif);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading__inner {
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  border-top: var(--loading-thickness, var(--loading-default-thickness)) solid rgba(0, 0, 0, 0.2);
  border-right: var(--loading-thickness, var(--loading-default-thickness)) solid rgba(0, 0, 0, 0.2);
  border-bottom: var(--loading-thickness, var(--loading-default-thickness)) solid rgba(0, 0, 0, 0.2);
  border-left: var(--loading-thickness, var(--loading-default-thickness)) solid #E3120B;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinnerAnimation var(--loading-speed, var(--loading-default-speed)) infinite linear;
  animation: spinnerAnimation var(--loading-speed, var(--loading-default-speed)) infinite linear;
}

.loading__inner,
.loading__inner:after {
  border-radius: 50%;
  width: var(--loading-diameter, var(--loading-default-diameter));
  height: var(--loading-diameter, var(--loading-default-diameter));
}

.loading--overlay,
.loading__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading__overlay {
  background: var(--loading--overlay__background, #FFFFFF);
}

@-webkit-keyframes spinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
